<div class="seller-auth">
    <div *ngIf= "!showLogin" class="signup">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input type="text" placeholder="Enter name" ngModel name="name" class="form-input" />
            <input type="password" placeholder="Enter password" ngModel name="password" class="form-input" />
            <input type="email" placeholder="Enter email" ngModel name="email" class="form-input" />
            <button  class="form-button">SignUp</button>

            <a class="auth-toggle-link" (click)= "openLogin()">Already Have Account? Click to Login</a>
        </form>
    </div>

    <!-- Login Area -->
    <div *ngIf= "showLogin" class="login">
        <h1>Seller Login</h1>
        <p class="error-p">{{ authError }}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input type="email" placeholder="Enter email" ngModel name="email" class="form-input" />
            <input type="password" placeholder="Enter password" ngModel name="password" class="form-input" />
            <button  class="form-button">Login</button>

            <a class="auth-toggle-link" (click)= "openSignUp()">Don't Have Account? Click to Signup</a>
        </form>
    </div>
</div>